pyenv/*
.DS_Store
*.pyc
.vscode
placepulse/*
.ipynb_checkpoints
__pycache__
votes.csv
votes_clean.csv
model.pth
pyenv
models/*.pth
placepulse.tar.xz
placepulse
*.dot
*.ps
*.tar.xz
runs/*
tensorboardX
pp_cropped/*
votes/*
*.zip
logs/*
*.csv
*.json
output/*
*.jsonl